# **Practice 04: Other Data Structures and Vectorization**

#### **WRITE YOUR NAME HERE**

---

**IMPORTANT**:
- Before starting the lab, save a copy to your google drive by navigating to `File > Save a copy in Drive` <br>

<br>


**Instructions**: Complete the lab below.

- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---

<br>

####<font color=red>Organized</font>

**Answers should be organized in the following format for organization and readability**

<font color=red>Example task 1</font>

In [9]:
# 1.

# This will be the code block to answer the first part of a task

1. This will be the text answer/explanation (if prompted) for the first task

<font color=red>Example task 2</font>

In [ ]:
# 2.

# This will be the code block to answer the second part of a task

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

<br>

---

####<font color=red>Task 1</font> - Data frames - Initial Exploration

<font color=red>Task 1.1</font> Load the `mtcars` dataset by running `data(mtcars)`.

In [24]:
# 1.1
data(mtcars)

<font color=red>Task 1.2</font> View the first few lines of the `mtcars` data frame using the `head()` function.

In [2]:
# 1.2
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

<br>

<font color=red>Task 1.3</font> Use the `str()` function to determine the number of rows and columns in the data frame.

In a text cell, write your answer in complete sentences.

In [3]:
# 1.3
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

Task 1.3 <br>
We have 32 rows and 11 colomns.

<br>

<font color=red>Task 1.4</font> Use the `names()` function to extract and view the variables in the `mtcars` data frame.

In [4]:
# 1.4
names(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

<br>

<font color=red>Task 1.5</font> Use the `rownames()` function to extract and view the row names in the `mtcars` data frame. In a text cell, write your observations.

In [5]:
# 1.5
rownames(mtcars)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

Task 1.5 <br>
When using rowmanes, we get the name of each car stored in the dataframe.

<font color=red>Task 1.6</font>

* Use the script `?mtcars` or search documentation online to determine the meaning of the variables.
* In a text cell, what is the definition of the variables `vs` and `am`?

In [48]:
 # 1.6
 ?mtcars

Task 1.6<br>
**vs:**  represents Engine, where 1 is v-shaped and 0 is straight. <br>
**am:** repressents Transmission, where 1 is automatic and 0 is manual.

<br>

---

####<font color=red>Task 2</font> - Cleaning Up Factors

From 1.6, it should be clear that the variables `vs` and `am` are categorical variables. Therefore, we should convert these into a `factor`.

<font color=red>Task 2.1</font> Convert the `vs` and `am` variables into a `factor` data structure using the `as.factor()` function and overwrite the variables in the `mtcars` data frame.

Use the `str()` function to verify these changes.

In [25]:
#2.1
mtcars$vs <- as.factor(mtcars$vs)
mtcars$am <- as.factor(mtcars$am)

str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : Factor w/ 2 levels "0","1": 1 1 2 2 1 2 1 2 2 2 ...
 $ am  : Factor w/ 2 levels "0","1": 2 2 2 1 1 1 1 1 1 1 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

<br>

<font color=red>Task 2.2</font> Use the `levels()` function to determine the unique categories in the `vs` and `am` variables.

In [26]:
#2.2
levels(mtcars$vs)
levels(mtcars$am)

[1] "0" "1"

[1] "0" "1"

<br>

<font color=red>Task 2.3</font> Rewrite the levels so that they are more descriptive.

For example, for `am`, change the levels to be `'automatic'` for `'0'` and `'manual'` for `'1'`".

Check the levels to verify these changes.

In [32]:
#2.3
#am
levels(mtcars$am) <- c("automatic" , "manual")
levels(mtcars$am)

#vs
levels(mtcars$vs) <- c("v-shape", "straight")
levels(mtcars$vs)

[1] "automatic" "manual"

[1] "v-shape"  "straight"

<br>

<font color=red>Task 2.4</font> Use the `table()` function to determine the number of cars that have automatic transmission in the data frame.

In a text cell, write your observations.

In [45]:
#2.4
table(mtcars$am)[1]

automatic
       19

<br>

<font color=red>Task 2.5</font> The `cyl` variable specifies the number of cylinders in the engine of the corresponding car.

* Convert the `cyl` variable into a factor and overwrite in the `mtcars` data frame
* Find the number of unique levels using the `length()` and `levels()` functions.

In [42]:
#2.5
mtcars$cyl <- as.factor(mtcars$cyl)

length(levels(mtcars$cyl))

[1] 3

<font color=red>Task 2.6</font> In a text cell, identify all other variables that should be a `factor` data structure.

Task 2.6 <br>
Variables that should also be factors are : Number of carburetors, Number of forward gears and Number of cylinders

<br>

---

####<font color=red>Task 3</font> - Vectorized Operations

<font color=red>Task 3.1</font> Engine displacement is the total volume of air that an engine's pistons move in its cylinders.

Calculate engine displacement per cylinder and save it as a new variable called `UnitEngine` in the `mtcars` data frame. Use the `head()` function to verify you answer.
* Note displacement per cylinder is defined by `disp` divided by `cyl`.

In [38]:
#3.1
UnitEngine <- mtcars$disp / as.numeric(as.character(mtcars$cyl))
mtcars$UnitEngine <- UnitEngine
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs       am        gear
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 v-shape  manual    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 v-shape  manual    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 straight manual    4
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 straight automatic 3
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 v-shape  automatic 3
Valiant           18.1 6   225  105 2.76 3.460 20.22 straight automatic 3
                  carb UnitEngine
Mazda RX4         4    26.66667
Mazda RX4 Wag     4    26.66667
Datsun 710        1    27.00000
Hornet 4 Drive    1    43.00000
Hornet Sportabout 2    45.00000
Valiant           1    37.50000

<br>

<font color=red>Task 3.2</font> Calculate the average engine displacement of all the cars in the dataset using the `mean()` function.

In [41]:
#3.2
mean(mtcars$UnitEngine)

[1] 35.02865

<br>