# **Practice 10: `if` Statements and Functions**

#### **WRITE YOUR NAME HERE**

---

**IMPORTANT**:
- Before starting the lab, save a copy to your google drive by navigating to `File > Save a copy in Drive` <br>

<br>


**Instructions**: Complete the lab below.

- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---

<br>

####<font color=red>Organized</font>

**Answers should be organized in the following format for organization and readability**

<font color=red>Example task 1</font>

In [ ]:
# 1.

# This will be the code block to answer the first part of a task

1. This will be the text answer/explanation (if prompted) for the first task

<font color=red>Example task 2</font>

In [ ]:
# 2.

# This will be the code block to answer the second part of a task

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>

#### Packages

In [ ]:
# install packages for today's lecture
install.packages("dslabs")

In [ ]:
# load the necessary packages
library(dslabs)

<br>

<br>

<br>

---

####<font color=red>Task 1</font>

<font color=red>Task 1.1</font>

The quadratic formula can be written as follows:

\begin{align*}
x = \frac{-b \pm \sqrt{b^2 - 4ac}} {2a}
\end{align*}

* Assign a value of `1` to the variable `a`, assign a value of `0` to the variable `b`, and assign a value of `-1` to the variable `c`

* Write a script that solves the quadratic formula using the variables `a`, `b`, and `c`

Hint: There are two solutions

In [10]:
# 1.1
#x1 <- 1
#x2 <- -1

#list(x_plus = x1, x_minus = x2)

a <- 1
b <- 0
c <--1
# quadratic formula
x1 <- (-b-sqrt(b^2 -4*a*c))/(2*a)
x2 <- (-b+ sqrt(b^2 -4*a*c))/(2*a)

res <- c(x1, x2)

res

[1] -1  1

<br>

<font color=red>Task 1.2</font>

* Create a function called `quadratic_formula` that has the following attributes
  * Three input arguments called `a`, `b`, `c`
  * The function body should solve the quadratic formula using code from Task 1.1
  * Return the two solutions as an unstructured list. Provide meaningful names to each list item.

* Use your function to solve the quadratic formula using the values of `a`, `b`, and `c` from Task 1.1 to check your work

In [17]:
#1.2
quadratic_formula <- function(a,b,c){

  return(list(x1 = (-b-sqrt(b^2 -4*a*c))/(2*a), x2 =  (-b+ sqrt(b^2 -4*a*c))/(2*a)))
}

quadratic_formula (1,0,-1)

$x1
[1] -1

$x2
[1] 1

<br>

<font color=red>Task 1.3</font>

* Try running your function on the following values
`a = 1, b = 0, c = 1`.

* You should observe `NaN` values. In a text cell, write why you observe these `NaN` values

In [18]:
#1.3
quadratic_formula (1,  0, 1)

Warning message in sqrt(b^2 - 4 * a * c):
“NaNs produced”
Warning message in sqrt(b^2 - 4 * a * c):
“NaNs produced”

$x1
[1] NaN

$x2
[1] NaN

<br>

<font color=red>Task 1.4</font>

* Let's fix the problem encountered in Task 1.3. Use `if` statements to return three potential types of function outputs:
    * If b^2 - 4ac is zero, only return the one solution/number

    * If b^2 - 4ac is less than zero, return a single `NA` value

    * If b^2 - 4ac is greater than zero, return the two real zeros as an unstructured list as before


* Run the following commands to confirm your answers
```
quadratic_formula(1, 0, 0)
```
```
quadratic_formula(1, 0, 1)
```
```
quadratic_formula(1, 0, -1)
```

In [24]:
#1.4
quadratic_formula <- function(a,b,c){
  delta <- b^2 -4*a*c

  if(delta==0){
    return(list(-b/(2*a)))
  }else if(delta<0){
    return(NA)
  }else{
    return(list(x1 = (-b-sqrt(delta))/(2*a), x2 =  (-b+ sqrt(delta))/(2*a)))
  }

}

quadratic_formula(1, 0, 0)
quadratic_formula(1, 0, 1)
quadratic_formula(1, 0, -1)

[[1]]
[1] 0

[1] NA

$x1
[1] -1

$x2
[1] 1

<br>

<font color=red>Task 1.5</font>

* Include a fourth `verbose` argument in your function with the default value of `TRUE`

* Include an if statement with the following attributes:

  * If the discriminant is less than zero and if the `verbose` argument is `TRUE`, then also print
  
    `Warning: There are no real zeroes!!! Returning NA...`

* Rerun the script `quadratic_formula(1, 0, 1)` to ensure the warning is printed.

In [28]:
#1.5
quadratic_formula <- function(a,b,c, verbose= TRUE){
  delta <- b^2 -4*a*c

  if(delta==0 ){
    return(list(-b/(2*a)))

  }else if(delta<0 & verbose == TRUE){
    if(verbose){
      print( "Warning: There are no real zeroes!!! Returning NA...")
    }
    return(NA)

  }else{
    return(list(x1 = (-b-sqrt(delta))/(2*a), x2 =  (-b+ sqrt(delta))/(2*a)))
  }
}

quadratic_formula(1, 0, 0)
quadratic_formula(1, 0, 1)
quadratic_formula(1, 0, -1)

[[1]]
[1] 0

[1] "Warning: There are no real zeroes!!! Returning NA..."

[1] NA

$x1
[1] -1

$x2
[1] 1

<br>

<br>

<br>

---

####<font color=red>Extra Practice (Optional)</font>

<font color=red>Task E.1</font> Run the following script to load the salary dataset.

```
# load data frame
data_url                       <- "https://raw.githubusercontent.com/khasenst/datasets_teaching/refs/heads/main/salary_data.csv"
salary                         <- na.omit(read.csv(data_url, header = TRUE))

# convert character variables to factors
salary$Gender                  <- as.factor(salary$Gender)
salary$Education.Level         <- as.factor(salary$Education.Level)
salary$Job.Title               <- as.factor(salary$Job.Title)

# reassign levels
levels(salary$Education.Level) <-  c("missing", "BS", "BS", "HS",
                                     "MS", "MS", "PhD", "PhD")
salary$Education.Level         <- factor(salary$Education.Level, levels = c("missing", "HS", "BS", "MS", "PhD"))
```

In [29]:
#E.1
# load data frame
data_url                       <- "https://raw.githubusercontent.com/khasenst/datasets_teaching/refs/heads/main/salary_data.csv"
salary                         <- na.omit(read.csv(data_url, header = TRUE))

# convert character variables to factors
salary$Gender                  <- as.factor(salary$Gender)
salary$Education.Level         <- as.factor(salary$Education.Level)
salary$Job.Title               <- as.factor(salary$Job.Title)

# reassign levels
levels(salary$Education.Level) <-  c("missing", "BS", "BS", "HS",
                                     "MS", "MS", "PhD", "PhD")
salary$Education.Level         <- factor(salary$Education.Level, levels = c("missing", "HS", "BS", "MS", "PhD"))

<br>

<font color=red>Task E.2</font>

* Calculate the overall `median()` salary of `"Data Scientists"` from the `salary` data frame

* Among `"Data Scientists"`, calculate the `median()` salary of individuals that have a `"HS"`, `"BS"`, `"MS"`, or `"PhD"` (separately for each education level)

In [57]:
#E.2
ds <- salary[salary$Job.Title =="Data Scientist",]

median(ds$Salary)

median_salary_ds_vs_Education_Level <-function(education_level){
  if(education_level == "HS"){
    return(median(ds$Salary[ds$Education.Level == "HS"]))

  }else if(education_level == "BS"){
    return(median(ds$Salary[ds$Education.Level == "BS"]))

  }else if(education_level == "MS"){
    return(median(ds$Salary[ds$Education.Level == "MS"]))

  }else if(education_level == "PhD"){
    return(median(ds$Salary[ds$Education.Level == "PhD"]))

  }else{
    return(NA)
  }
}

median_salary_ds_vs_Education_Level("HS")
median_salary_ds_vs_Education_Level("BS")
median_salary_ds_vs_Education_Level("MS")
median_salary_ds_vs_Education_Level("PhD")

[1] 168000

[1] NA

[1] 185000

[1] 175000

[1] 168000

<br>

<font color=red>Task E.3</font> Calculating the median salaries in Task E.2 can be quite cumbersome if repeated many times! Let's create a function.

Create a function called `salary_by_education` with the following attributes:

* Inputs: The function should take two inputs.
  1. `data`: represents a data frame of salaries
  2. `job_title` represents a job title as a character string

* Outputs: The function should output an unstructured list with 5 items.
  1. Overall median salary of a given `job_title`
  2. Median salary of individuals with a `HS` and the given `job_title`
  3. Median salary of individuals with a `BS` and the given `job_title`
  4. Median salary of individuals with a `MS` and the given `job_title`
  5. Median salary of individuals with a `PhD and the given `job_title`

  
* Run the following script and compare to your answers from Task E.2

  `salary_by_education(salary, "Data Scientist")`

In [64]:
#E.3
salary_by_education <- function(data, job_title){

  job_data <-data[data$Job.Title == job_title,]

  return( list(
    median_salary  = median(job_data$Salary),
    hs_median_salary = median(job_data$Salary[job_data$Education.Level == "HS"]),
    bs_median_salary = median(job_data$Salary[job_data$Education.Level == "BS"]),
    ms_median_salary = median(job_data$Salary[job_data$Education.Level == "MS"]),
    phd_median_salary = median(job_data$Salary[job_data$Education.Level == "PhD"])
  ))

}
salary_by_education(salary, "Data Scientist")

$median_salary
[1] 168000

$hs_median_salary
[1] NA

$bs_median_salary
[1] 185000

$ms_median_salary
[1] 175000

$phd_median_salary
[1] 168000

<br>

<font color=red>Task E.4</font> Run the following scripts, which illustrates the efficiency of functions!

`salary_by_education(salary, "Data Scientist")`

`salary_by_education(salary, "Data Analyst")`

`salary_by_education(salary, "Marketing Analyst")`

`salary_by_education(salary, "Junior Sales Associate")`

In [65]:
# E.4

salary_by_education(salary, "Data Scientist")

salary_by_education(salary, "Data Analyst")

salary_by_education(salary, "Marketing Analyst")

salary_by_education(salary, "Junior Sales Associate")

$median_salary
[1] 168000

$hs_median_salary
[1] NA

$bs_median_salary
[1] 185000

$ms_median_salary
[1] 175000

$phd_median_salary
[1] 168000

$median_salary
[1] 120000

$hs_median_salary
[1] NA

$bs_median_salary
[1] 125000

$ms_median_salary
[1] 1e+05

$phd_median_salary
[1] NA

$median_salary
[1] 65000

$hs_median_salary
[1] NA

$bs_median_salary
[1] 65000

$ms_median_salary
[1] NA

$phd_median_salary
[1] NA

$median_salary
[1] 26000

$hs_median_salary
[1] 26000

$bs_median_salary
[1] NA

$ms_median_salary
[1] NA

$phd_median_salary
[1] NA