# **Lecture 11 - Loops - `for`, `while`, `repeat`**

---

<br>

## Packages

In [ ]:
# none

<br>

<br>

---

<br>

## What are loops?

* A loop is a sequence of statements carried out several times in succession.

* There are three major types of loops:
  1. `for` loops
  2. `while` loops
  3. `repeat` loops

* `for` loops are by far the most commonly used type of looping mechanism, but `while` and `repeat` loops are better for certain situations.

<br>

<br>

---

<br>

## `for` Loops

### `for` loop syntax

* The `for` loop iterates through each element of a vector or list and performs a task at each iteration

* The `for` loop completes execution after iterating through all elements of a vector or list

#### Syntax
 `for` loop syntax

  ```
  for (iterator in vector/list) {
    for loop body
  }
  ```

* `for`
  * A `for` loop is initiated using the `for` keyword

* `iterator`
  * The iterator is a variable that iterates through each element of the vector

* `in`
  * `in` is a special keyword that tells `R` we want to iterate through the elements "in" the vector or list

*  `vector/list`
  * The `for` loop will use the `iterator` to iterate through each element of a vector or list. This includes columns of data frames since data frames are structured lists!

* `for` loop body
  * At each iteration, the code in the `for` loop body is executed

<br>

<br>

### `for` Loop Examples

* Most often, `for` loops are used to iterate through a sequence of consecutive integers.

* A vector of consecutive integers is created using a colon `:`

In [ ]:
# create a vector of consecutive integers
1:10

<br>

* The iterator `i` iterates through each entry in the vector `1:10` and performs the given `print()` task

In [ ]:
# simple for loop
for (i in 1:10) {
  print(i)
}

<br>

* We can use the function `seq()` to iterate through other sequence patterns

In [ ]:
# create a vector from 1 to 10 by 2
vec <- seq(1, 10, 2)
vec

In [ ]:
# loop through each entry in the variable vec
for (j in vec) {
  print(j)
}

<br>

* We can loop through character vectors as well!

In [ ]:
vec <- c("Baby", "Yoda", "is", "not", "really", "baby", "Yoda")
for (ii in vec) {
  print(ii)
}

<br>

* Remember, data frames are structured lists, where each column is a list item

* Therefore, we can loop through each column

In [ ]:
# load sample dataset
data(mtcars)
head(mtcars)

In [ ]:
# Loop through columns and calculate means
for (i in mtcars) {
  print(mean(i))
}

<br>

* But what if we are only interested in the numeric variables for their averages?

In [ ]:
# only select mpg, hp, and wt
head(mtcars[, c("mpg", "hp", "wt")])

In [ ]:
# calculate means using a loop
for (cols in mtcars[, c("mpg", "hp", "wt")]) {
  print(mean(cols))
}

<br>

<br>

### `for` Loops and Populating Empty Vectors

* The previous example calculates the mean of three variables in a data frame

* However, what if we want to store these averages for future use?

<br>

* We can store the averages in an empty vector as we iterate through our loop!

* The script below creates an empty vector

In [ ]:
# create an empty vector
mtcars_means <- vector(length = 3)
mtcars_means

<br>

* Numeric indexing and Boolean-based subsetting not only allows us to access entries of a vector...
  * We can also overwrite these entries

In [ ]:
# access the second entry of this vector
mtcars_means[2]

In [ ]:
# overwrite the second entry of this vector
mtcars_means[2] <- 3.14
mtcars_means

<br>

* Let's use this concept to store our means

In [ ]:
1:ncol(mtcars_subset)

In [ ]:
# subset the columns in which we are interested
mtcars_subset <- mtcars[, c("mpg", "hp", "wt")]

# create an empty vector
mtcars_means <- vector(length = ncol(mtcars_subset))


# loop through the columns
for (cols in 1:ncol(mtcars_subset)) {

  # store the means
  mtcars_means[cols] <- mean(mtcars_subset[, cols])

}

In [ ]:
mtcars_means

<br>

<br>

* Another approach to storing values is to use `c()` to concatenate additional values to a vector

In [ ]:
# create an empty vector using c()
mtcars_means <- c()
mtcars_means

In [ ]:
# use c() to concatenate a value to the empty vector
mtcars_means <- c(mtcars_means, 3.14)
mtcars_means

In [ ]:
# again, use c() to concatenate a value to the empty vector
mtcars_means <- c(mtcars_means, 2.7)
mtcars_means

<br>

* Let's use this concept to store our means

In [ ]:
# subset the columns in which we are interested
mtcars_subset <- mtcars[, c("mpg", "hp", "wt")]

# create an empty vector
mtcars_means <- c()

# loop through the columns
for (cols in 1:ncol(mtcars_subset)) {

  # store the means using concatenation
  mtcars_means <- c(mtcars_means, mean(mtcars_subset[, cols]))
  print(mtcars_means)

}

In [ ]:
mtcars_means

<br>

* The above approach is useful if the number of items being stored is unknown

* For example, what if we only want to store means that are less than 100?

In [ ]:
# subset the columns in which we are interested
mtcars_subset <- mtcars[, c("mpg", "hp", "wt")]

# create an empty vector
mtcars_means <- c()

# loop through the columns
for (cols in 1:ncol(mtcars_subset)) {

  # calculate mean
  m <- mean(mtcars_subset[, cols])

  if (m < 100) {
    # store the means using concatenation
    mtcars_means <- c(mtcars_means, m)
  }

}

In [ ]:
mtcars_means

<br>

<br>

### Nested `for` loops

* We can also nest loops (loops within loops)

* This is typically inefficient and can be alternatively performed using vectorization!

In [ ]:
# what is it doing on the inside?
for (jj in 1:ncol(mtcars_subset)) {

  for (ii in 1:length(mtcars_subset[,jj])) {

    print(paste(ii, jj))

  } # end inner loop
} # end outer loop

<br>

<br>

## `while` loops

### `while` loop syntax

* The `while` loop repeatedly iterates "while" a certain condition is true.

* `while` loops are very useful for stopping an algorithm when convergence is met.

* `while` loop syntax
```
while (boolean expression) {
  while loop body
}
```

* `while`
  * A `while` loop is initiated using the `while` keyword

* `boolean expression`
  * An expression that produces a `TRUE` or `FALSE`

* `while` loop body
  * Code in the `while` loop body is only performed if the `boolean expression` is `TRUE`

<br>

In [ ]:
# make sure we always sample the same random number
set.seed(15)

# initialize x such that the statement is true
x <- 0
while (x < 50) {

  # randomly sample a number from 1 to 20
  x <- sample(1:100, 1)
  print(x)

}

<br>

* What do you think happens in the following?

In [ ]:
x <- 0
while (TRUE) {
  x <- x + 1
}

<br>

<br>

## `repeat` loops

### `repeat` loop syntax

* The `repeat` loop...well...repeats a task forever!

* Notice that there is not condition statement. A `break` statement is used to "break" out of the loop one a condition is met

* `repeat` loop syntax
```
repeat {
  repeat loop body
  conditional break statement
}
```

* `repeat`
  * A `repeat` loop is initiated using the `while` keyword

* `repeat loop body`
  * Code that is executed at each iteration of the loop

* `conditional break statement`
  * A conditional statement, typically an `if` statement, that indicates whether or not we should `break` out of the loop
  * Note `break` is a keyword that tells `R` to end the loop

<br>

In [ ]:
set.seed(15)

# initialize x such that the statement is true
repeat {

  # randomly sample a number from 1 to 20
  x <- sample(1:100, 1)
  print(x)

  if (x >= 50) { break }

}

<br>

* What do you think happens in the following?

In [ ]:
x <- 0
repeat {
  x <- x + 1
}

<br>